body{
    background-color: #408E91;
}

.mazzarri{
    width: 1000px;
    margin-top: 150px;
}

#timer-out{
    animation: timeout 2s ease infinite;
}

@keyframes timeout {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.5);
    }

    100% {
        transform: scale(1);

    }
}